/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
.nrepl-port
.hgignore
.hg/
\#*
\#*\#
.\#*
debug-log
dev/scratch.clj
notes
*.bak.clj

rebel-readline-cljs/rebel-readline-debug-log

rebel-readline/rebel-readline-debug-log

rebel-readline/.rebel_readline_history

rebel-readline-cljs/.rebel_readline_history

*.log
