{:deps {org.clojure/clojure {:mvn/version "1.10.0" }
        org.jline/jline-reader {:mvn/version "3.25.0"}
        org.jline/jline-terminal {:mvn/version "3.25.0"}
        org.jline/jline-terminal-jansi {:mvn/version "3.25.0"}
        dev.weavejester/cljfmt {:mvn/version "0.13.0"}
        compliment/compliment {:mvn/version "0.6.0"}}
 :tools/usage {:ns-default rebel-readline.tool}
 :aliases {:repl-tool {:exec-fn rebel-readline.tool/repl}
           :rebel {:main-opts  ["-m" "rebel-readline.main"]}
           :dev {:extra-paths ["dev"]
                 :main-opts ["-m" "rebel-dev.main"]}
           ;; build
           :neil {:project {:name com.bhauman/rebel-readline
                            :version "0.1.6-SNAPSHOT"}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.6"
                                                         :git/sha "52cf7d6"}
                          slipset/deps-deploy {:mvn/version "0.2.2"}}
                   :ns-default build}}}
