{:deps {org.clojure/clojure {:mvn/version "1.12.4"}
        org.jline/jline-reader {:mvn/version "4.0.12"}
        org.jline/jline-terminal {:mvn/version "4.0.12"}
        org.jline/jline-terminal-jni {:mvn/version "4.0.12"}
        dev.weavejester/cljfmt {:mvn/version "0.16.3"}
        compliment/compliment {:mvn/version "0.7.1"}}
 :tools/usage {:ns-default rebel-readline.tool}
 :aliases {:repl-tool {:exec-fn rebel-readline.tool/repl}
           :rebel {:main-opts  ["-m" "rebel-readline.main"]}
           :dev {:extra-paths ["dev"]
                 :main-opts ["-m" "rebel-dev.main"]}
           ;; build
           :neil {:project {:name com.bhauman/rebel-readline
                            :version "0.1.8-SNAPSHOT"}}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.13"
                                                         :git/sha "ae52edf"}
                          slipset/deps-deploy {:mvn/version "0.2.3"}}
                   :ns-default build}}}
